@use "../../abstracts/mixins" as m;

.project {

    padding: 6rem 1rem;
    background-image: url(/assets/img/backgrounds/section-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__container {

        position: relative;
        margin: 0 auto;
        padding: 0 1.5rem;
        max-width: 50rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #26003126;
        border: 1px solid rgb(255 255 255 / .18);
        box-shadow: 0 var(--min-size-1) var(--tiny-size-3) 0 #1f26875e;
        backdrop-filter: blur(1.125rem);
        -webkit-backdrop-filter: blur(1.125rem);
        border-radius: 1rem;

    }

    &__imageBox {

        position: relative;
        top: -3rem;
        left: 35%;
        width: 70%;
        height: max-content;
        transform: translate(-50%);

    }

    &__image {

        object-fit: cover;
        object-position: center;

    }

    &__content {

        padding-bottom: 1.5rem;
        position: relative;
        top: -2rem;

        @include m.tablet {

            top: -1rem;

        }

    }

    &__heading {

        position: relative;
        display: flex;
        justify-content: center;
        @include m.syntHeading(unset);
        font-size: .8rem;
        text-overflow: hidden;
        white-space: nowrap;
        padding-bottom: .5rem;
        overflow: hidden;

        @include m.telephone {

            font-size: 1.013rem;

        }
        @include m.tablet {

            font-size: 2.3rem;

        }
        @include m.desktop {

            font-size: 2.78rem;

        }

    }

    &__desc {

        padding: .5rem;
        font-size: .7rem;

        @include m.tablet {

            font-size: 1rem;

        }
        
    }

    &__technologies {

        padding: .5rem 1rem 2.5rem;
        display: flex;
        flex-direction: column;

    }

    &__technologyHeading {

        padding-bottom: 1rem;
        color: var(--primary-color-light-2);
        font-weight: 600;
        font-style: italic;
        text-shadow: 0 0 3vw var(--primary-color);
        letter-spacing: 1px;
        opacity: 1;
        transition: opacity 0.1s ease-in;
        animation: textShwAnim 2s infinite;
        @include m.textShwAnim();

        @include m.telephone {

            font-size: 1.5rem;

        }

    }

    &__technologiesList {

        display: flex;
        flex-wrap: wrap;
        gap: 1.8rem;

    }

    &__technology {

        width: 3rem;
        height: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__technologyImage {

        background-color: #26003126;
        border: 1px solid rgb(255 255 255 / .18);
        box-shadow: 0 var(--min-size-1) var(--tiny-size-3) 0 #1f26875e;
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);
        border-radius: .6rem;

    }

    &__technologyText {

        font-size: .7rem;

        @include m.telephone {

            font-size: .9rem;

        }

    }

    &__info {

        padding: 0 1rem .5rem;
        display: flex;
        gap: 1rem;

    }

    &__rol {

        flex-basis: 50%;

    }

    &__date {

        flex-basis: 50%;

    }

    &__rolHeading {

        padding-bottom: 1rem;
        color: var(--primary-color-light-2);
        font-weight: 900;
        font-style: italic;
        text-shadow: 0 0 2vw var(--primary-color);
        letter-spacing: 0px;
        opacity: 1;
        transition: opacity 0.1s ease-in;
        animation: textShwAnim 2s infinite;
        @include m.textShwAnim();

        @include m.telephone {

            font-size: 1.5rem;

        }

    }

    &__rolText {

        font-size: .7rem;

        @include m.tablet {

            font-size: 1rem;

        }

    }

    &__dateHeading {

        padding-bottom: 1rem;
        color: var(--primary-color-light-2);
        font-weight: 900;
        font-style: italic;
        text-shadow: 0 0 2vw var(--primary-color);
        letter-spacing: 0px;
        opacity: 1;
        transition: opacity 0.1s ease-in;
        animation: textShwAnim 2s infinite;
        @include m.textShwAnim();

        @include m.telephone {

            font-size: 1.5rem;

        }

    }

    &__dateText {

        font-size: .7rem;

        @include m.tablet {

            font-size: 1rem;

        }

    }

    &__buttons {

        margin-top: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1rem;

        @include m.telephone {

            flex-direction: row;

        }

    }

    &__btn {

        width: max-content;
        @include m.syntBtn(true);

        @include m.desktop {

            width: max-content;

        }

    }

}