@use "../../../abstracts/mixins" as m;

.contactModal {

    @include m.childModal();
    width: 80%;

    @include m.desktop {
        width: 50%;
    }

    &__form {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--text-color);

    }

    &__fieldset {

        position: relative;
        margin: 1.65rem 0;
        width: 100%;
        height: 2.3rem;
        border-bottom: 2px solid var(--white);

    }

    &__text {

        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;

        &:focus {

            & ~ .contactModal__label {

                top: -15px;

            }

        }

        &:valid {

            & ~ .contactModal__label {

                top: -15px;

            }

        }

    }

    &__label {

        position: absolute;
        top: 50%;
        left: 0;
        font-weight: 500;
        transform: translateY(-50%);
        transition: .4s;
        pointer-events: none;

    }

    &__message {

        width: 100%;
        border: none;
        outline: none;
        resize: none;

        &:focus {

            & ~ .contactModal__label {

                top: -15px;

            }

        }

        &:valid {

            & ~ .contactModal__label {

                top: -15px;

            }

        }

    }

    &__submitBtn {

        @include m.syntBtn(false);
        width: max-content;
        color: var(--text-color);

    }

    &__contactButtons {

        position: absolute;
        bottom: -1.5rem;
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;

    }

    &__contactBtn {

        width: max-content;
        @include m.syntBtn(false);
        background-color: var(--bg-aside-menu);

        @include m.tablet {

            width: 12%;

        }

        @include m.desktop {

            width: max-content;

        }

    }

}