@use "../../../abstracts/mixins" as m;

.contactModal {

    position: relative;
    padding: 2.5rem;
    max-width: 43rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    border: 2px solid rgb(255 255 255 / .1);
    border-radius: .875rem;
    box-shadow: 0 2px 5px rgb(0 0 0 / .2);
    backdrop-filter: blur(.938rem);
    -webkit-backdrop-filter: blur(.938rem);
    transition: all .7s cubic-bezier(.5, 0, 0, 1);
    overflow: hidden;

    @include m.desktop {

        width: 40%;

    }

    &__exitBtn {

        position: absolute;
        top: .3rem;
        right: .3rem;
        transition: transform .1s linear;
        cursor: pointer;

        &:hover {

            transform: scale(1.1);

        }

        @include m.telephone {

            top: .9rem;
            right: .9rem;
            
        }

    }

    &__exitIcon {

        width: 2.5rem;

    }

    &__heading {

        position: relative;
        @include m.syntHeading(0);

    }

    &__form {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--text-color);

    }

    &__fieldset {

        position: relative;
        margin: 1.65rem 0;
        width: 100%;
        height: 2.3rem;
        border-bottom: 2px solid var(--white);

    }

    &__text {

        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;

        &:focus {

            & ~ .contactModal__label {

                top: -15px;

            }

        }

        &:valid {

            & ~ .contactModal__label {

                top: -15px;

            }

        }

    }

    &__label {

        position: absolute;
        top: 50%;
        left: 0;
        font-weight: 500;
        transform: translateY(-50%);
        transition: .4s;
        pointer-events: none;

    }

    &__message {

        width: 100%;

        border: none;
        outline: none;
        resize: none;

        &:focus {

            & ~ .contactModal__label {

                top: -15px;

            }

        }

        &:valid {

            & ~ .contactModal__label {

                top: -15px;

            }

        }

    }

    &__submitBtn {

        @include m.syntBtn(true);
        width: max-content;
        color: var(--text-color);

    }

    &__contactButtons {

        margin-top: 1rem;
        display: flex;
        gap: 1rem;

    }

    &__contactBtn {

        width: max-content;
        @include m.syntBtn(true);

    }

}