@use "../../../abstracts/mixins" as m;

.homeProjects {

    &__projectsContainer {

        position: relative;
        margin-top: 5rem;
        display: flex;
        align-items: center;

    }

    &__projectsContent {

        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
        z-index: 2;

    }

    &__projectsHeading {

        position: relative;
        display: flex;
        justify-content: center;
        @include m.syntHeading(unset);

    }

    &__projectsFilterButtons {

        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;

    }

    &__projectsFilterButton {

        @include m.syntBtn(false);

        &--All {

            color: var(--white);

        }

    }

    &__projectsBox {

        width: 100%;
        display: grid;
        gap: 4.7rem;
        grid-template-columns: repeat(auto-fill, minmax(15.625rem, 18.125rem));
        place-content: center;

    }

    // &__projectBlob {

    //     position: absolute;
    //     width: 31.25rem;
    //     height: 31.25rem;
    //     background: linear-gradient(
    //         180deg,
    //         var(--util-color-3) 31.77%,
    //         var(--bg-aside-menu) 100%
    //     );
    //     mix-blend-mode: color-dodge;
    //     transition: 1s cubic-bezier(.07, .8, .16, 1);
    //     animation: blobMove 23s infinite alternate;
    //     opacity: .2;
    //     @include m.blobMove();

    //     &:hover {

    //         width: 32.5rem;
    //         height: 32.5rem;
    //         filter: blur(1.875rem);
    //         opacity: 1;
    //         box-shadow: inset 0 0 0 5px rgba(255,255,255, 0.6),
    //                     inset 6.25rem 6.25rem 0 0 var(--primary-color),
    //                     inset 12.5rem 12.5rem 0 0 var(--tertiary-color),
    //                     inset 18.75rem 18.75rem 0 0 var(--heading-color);

    //     }

    // }

}