@use "../../../abstracts/mixins" as m;

.homeAboutMe {

    //margin-top: 5rem;
    margin: 5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    &__heading {

        position: relative;
        display: flex;
        justify-content: center;
        @include m.syntHeading(unset);

    }

    &__container {

        margin-top: 5rem;
        padding: 1.5rem;
        min-width: 15.625rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgb(38 0 49 / .15);
        border: 1px solid rgb(255 255 255 / .18);
        border-radius: 1rem;
        box-shadow: 0 var(--min-size-1) var(--tiny-size-3) 0 rgb(31 38 135 / .37);
        backdrop-filter: blur(1.125rem);
        -webkit-backdrop-filter: blur(1.125rem);

        @include m.tablet {

            margin-left: 2rem;
            max-width: 40rem;

        }

    }

    &__light {

        position: absolute;
        top: -8.313rem;
        left: 50%;
        max-width: 40rem;
        width: 80%;
        height: .625rem;
        background-color: var(--primary-color);
        border-radius: 1.25rem;
        transform: translateX(-50%);

        @include m.tablet {

            top: -9rem;
            width: 130%;
            
        }

        &::before {

            content: "";
            position: absolute;
            top: -53.5rem;
            left: 0;
            width: 100%;
            height: 54rem;
            background: linear-gradient(to bottom, rgb(255 255 255 / .3) -50%, rgb(255 255 255 / 0) 90%);
            clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 80%);
            transition: .5s ease;
            opacity: 0;
            pointer-events: none;

        }

    }

    &__check {

        position: absolute;
        top: -6.75rem;
        right: 2.5rem;

        @include m.tablet-fix {

            top: 0;
            right: -4.375rem;

        }

        &:checked {

            & ~ .homeAboutMe__toggle {

                &::after {

                    top: 4rem;

                }

                & > .homeAboutMe__toggleBtn {
    
                    top: 4.55rem;

                    &--off {
    
                        opacity: 0;
    
                    }
    
                    &--on {
    
                        opacity: 1;
    
                    }
    
                }

            }

            & ~ .homeAboutMe__light {

                &::before {

                    top: 0;
                    opacity: 1;

                }

            }

            & ~ .homeAboutMe__imageContainer {

                opacity: 1;

            }

            & ~ .homeAboutMe__about {

                opacity: 1;

                & .homeAboutMe__aboutHeading {

                    font-weight: 500;
                    animation: textShwAnim 2s infinite;

                }

                & .homeAboutMe__aboutContact {

                    pointer-events: auto;
    
                }


            }

        }

    }

    &__toggle {

        position: absolute;
        top: -7.8rem;
        right: 0;
        width: 3.75rem;
        height: 7.5rem;
        background-color: rgb(38 0 49 / .15);
        border: 1px solid rgb(255 255 255 / .18);
        border-radius: 1rem;
        box-shadow: 0 var(--min-size-1) var(--tiny-size-3) 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(1.125rem);
        transform: scale(.8);
        border-radius: .625rem;

        &::before {

            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: .625rem;
            height: 80%;
            background-color: var(--bg-aside-menu);
            transform: translate(-50%, -50%);

        }

        &::after {

            content: "";
            position: absolute;
            top: .313rem;
            left: 50%;
            width: 2.688rem;
            height: 2.688rem;
            background-color: var(--secondary-color-light);
            border: 2px solid var(--bg-aside-menu);
            border-radius: .625rem;
            box-shadow: 0 var(--min-size-1) var(--tiny-size-3) 0 rgba(31, 38, 135, 0.37);
            transform: translateX(-50%);
            transition: .5s ease;
            cursor: pointer;

        }

        &--on {

            &::after {

                top: 4rem;

            }

        }

        @include m.tablet-fix {

            top: 1.25rem;
            right: -4.375rem;
            transform: scale(1);

        }

    }

    &__toggleBtn {

        position: absolute;
        top: .85rem;
        left: 50%;
        color: var(--white);
        transform: translateX(-50%);
        transition: .5s ease;
        pointer-events: none;
        z-index: 1;

        &--off {

            opacity: 1;

        }

        &--on {

            opacity: 0;
            animation: textShwAnim 2s infinite;
            @include m.textShwAnim();

        }

    }

    &__imageContainer {

        position: absolute;
        top: 0;
        left: 50%;
        width: 9rem;
        height: 9rem;
        border: 1px solid rgb(255 255 255 / .18);
        border-radius: 50%;
        box-shadow: 0 0 0 0.8rem rgb(0 0 0 / .2),
                    0 0 0 1rem rgb(161 220 255 / .35);
        transform: translate(-50%, -50%);
        transition: .5s ease;
        opacity: .4;
        overflow: hidden;

        @include m.tablet {

            top: 50%;
            left: 0;

        }

    }

    &__image {

        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

    }

    &__about {

        padding-top: 4.5rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        transition: .5s ease;
        opacity: .4;

        @include m.telephone {

            gap: 1rem;

        }

        @include m.tablet {

            padding-top: 0;
            padding-left: 5rem;

        }

    }

    &__aboutHeading {

        color: var(--util-color);
        font-size: 1.2rem;
        text-align: center;

        @include m.telephone {

            font-size: 1.5rem;

        }

        @include m.desktop {

            font-size: 1.9rem;

        }
        
    }

    &__info {

        display: flex;
        flex-direction: column;
        gap: .5rem;

        @include m.telephone {

            gap: 1rem;

        }

        @include m.tablet {

            gap: 2rem;
            flex-direction: row;

        }

    }

    &__text {

        font-size: .75rem;
        hyphens: none;
        z-index: 2;

        @include m.telephone {

            font-size: 1rem;

        }

        @include m.tablet {

            flex-basis: 50%;

        }

        @include m.desktop {

            font-size: 1.15rem;

        }

    }

    &__aboutContact {

        width: max-content;
        align-self: center;
        font-weight: 600;
        letter-spacing: 1px;
        pointer-events: none;
        @include m.syntBtn(true);

    }

}