.header {

    position: fixed;
    top: 0;
    pointer-events: none;
    z-index: 5;
    
    &__triangle {

        width: 9rem;
        height: 9rem;
        display: flex;
        background-color: var(--bg-aside-menu);
        clip-path: polygon(100% 0,0 0,0 100%);

    }

    &__logo {

        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        width: 2.5rem;

    }

}